.blog-thumb {
	
}
.blog-thumb .col-sm-offset-3 {
	margin-left: 0 !important;
}
.blog-title {
    text-align: left !important;
    margin-top: 40px !important;
}
.blog-title-desc {
    text-align: left !important;
    margin-bottom: -40px !important;	
}
.blog-author {
	background-color: #eee;
	padding: 30px 0;
}
.blog-author p {
	margin-bottom: 0 !important;
}
.blog-recommendations li {
	text-align: left;
}
.blog-helper h3{
	text-align: left;
}
.module-blog-post {
	padding-bottom: 0 !important;
}
.module-blog-comment {
	padding-top: 0 !important;
}
.blog-files {
    margin-top: 10px;	
}
.blog-file {
    color: #fff;
    background: #000;
    padding: 8px 14px;
    font-size: 13px;
    border-radius: 4px;
}
.blog-file span {
	margin-right: 8px;
}
.blog-tag {
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: #000;
}
.blog-tag:hover {
	color: #fff;
}
#tag-1 {
    background-image: linear-gradient(135deg,#183f6f 0,#64108f 100%);
}
#tag-2 {
    background-image: linear-gradient(135deg,#c4b126 0,#cc1c1c 100%);
}
.blog-author .col-sm-4 {
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 10px;	
    text-align: center;
}
.blog-author .col-sm-4 h3 {
	margin-top: 10px;
}
.blog-tags {
    margin-bottom: 30px;	
}
.module-title {
	margin-top: 10px;
    margin-bottom: 30px;	
}
.service-page-header {
	height: 480px;	
}


/* Tooltip container */
.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 300px;
    background-color: #fff;
    color: #000;
    text-align: center;
    position: absolute;
    top: 0;
    left: 160px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}
.tooltiptext2-header {
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    display: flex;	
    align-items: center;
}
.tooltiptext2-header .team-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.tooltiptext2-body {
    padding: 10px;	
}