* {outline : none;}
.navbar-right div:last-child { padding-right: 0; margin-right: 0 }
#logo {padding-left: 0}

.white-nav .map-nav {
box-shadow: 0 10px 30px -12px rgba(255, 255, 255, 0), 0 4px 25px 0 rgba(0, 0, 0, 0.05), 0 8px 10px -5px rgba(0, 0, 0, 0); 
}


#map-sidebar-container {
    position: fixed;
    /*max-width: 30%;*/
    top: 0;
    margin-top: 60px;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    color: #fff;
    z-index: 10;
}
#map-presidebar-left {
    position: fixed;
    height: 50px;
    top: 48%;
    background: red;
    width: 70px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    z-index: 99999;
}
#map-presidebar-right {
    position: fixed;
    height: 50px;
    top: 48%;
    right: 0;
    background: red;
    width: 40px;
    text-align: center;
    display: flex;
    align-self: center;
    cursor: pointer;
    z-index: 99999;
    flex-direction: column;
    justify-content: center;
    display: none;
}
#map-sidebar-left {
    width: 25vw;
    display: none;
    padding: 40px;
    z-index: 102;
    color: #000;
}
#map-sidebar-right {
    width: 400px;
    display: none;
    padding: 40px;
    z-index: 102;
    color: #000;
}
.footer-map {
  z-index: 9;
}
.high-layout {
    max-height: 100vh;
    z-index: 99;
    display: flex;
    position: fixed;
}
#map-footer {
    left: auto;
    right: 0;
}
#map-sidebar-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    bottom: 0;
    z-index: 101;
    display: none;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#map-object-right {
    position: fixed;
    top: 100px;
    right: 40px;
    width: 350px;
    bottom: 80px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    z-index: 9999999;
    color: #000;
    display: none;
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.object-options {
  display: flex;
}

.object-option {
    padding: 10px;
    width: 50%;
    text-align: center;
    background: #eee;
    cursor: pointer;
}
.object-options .active {
    background: #d1d1d1  
}
#option1 {border-right:1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1;}
#option2 {border-bottom: 1px solid #d1d1d1;  border-bottom: 1px solid #d1d1d1;}
#option3 {border-right:1px solid #d1d1d1;  border-bottom: 1px solid #d1d1d1;}
#option4 {border-bottom: 1px solid #d1d1d1;}
#close-object {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.object-content {
  padding: 20px;
  display: flex;
    flex-direction: column;
}

.some-filter {
  margin: 5px 0;
}
.some-filter h5 {
  font-weight: bold;
}
.some-filter input[type='text'],
.some-filter select {
    border:0;
    width: 100%;
    background: #eee;
    padding: 5px 10px;
    border-radius: 4px;
    height: 32px;
}
.some-filter .half-field {
  display: flex;
  width: 100%;
}
.some-filter .half-field input:first-child {
margin-right: 5px;
}

.all-filters {
    border: 2px solid;
    padding: 4px 20px;
    border-radius: 4px;
    background: transparent;
    font-weight: bold;
    margin-top: 10px;
}
.open-filters {
  width: 100vw !important;
}
.close-filters .hidden-filters {
  display: none;
}
.open-filters .hidden-filters {
  display: block;
}








.sidebar-toggled #map-sidebar-background {
  display: block;
}
.object-toggled #map-object-right {
  display: block;
}
.sidebar-toggled #map-sidebar-left {
  display: block;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
/*.sidebar-toggled #map-footer {
  width: calc(100% - 470px);
  left: 0;
}*/
.sidebar-toggled  #map-presidebar-right {
  right: 400px;
}
.sidebar-toggled #map-presidebar-left {
    right: 400px;
}




/*ВКЛАДКИ*/

#objects {
  display: none;
  background-color: #fff;
  padding-top: 60px;
  color: #000;
}
#map {
  display: none;
}
#calc {
  display: none;
}
nav .tablinks {
    margin: 0;
    font-size: 12px;
    background: transparent;
    display: inline-block;
    border: 0;
    text-transform: uppercase;
    padding: 18px 20px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    letter-spacing: 1px;
    border-top: 3px solid transparent;
    margin-right: -1px;
    min-width: 115px;
}
.navbar-right .active {
    /*border-top: 3px solid #000;*/
    background: #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.navbar-header {
    padding: 5px 0;  
}
.object {
    background: #fff;
    width: 100%;
    height: 100%;
    display: none;
}
#objects .tablinks2 {
    margin: 0;
    font-size: 12px;
    background: transparent;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-bottom: 4px solid transparent;
}
#calc .tablinks3{
    margin: 0;
    font-size: 12px;
    background: transparent;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-bottom: 4px solid transparent;
}
#calc .cat-tab .active {
  border-bottom: 4px solid;
}
.cat-tab-fixed {
  position: fixed;
  width: 100%;
  border-bottom: 0 !important;
}
.cat-tab-space {
  height: 46px;
  display: block;
  width: 100%;
}
#kv,
#calc #kv2 {
  display: flex;
}
.calc-entry {
    display: none;
    width: 100%;
    margin-right: 10px;
    padding: 20px;
}
.cat-tab {
  background-color: #eee;
  border-bottom: 1px solid #d5d5d5;
  color: #000;
 }
#objects .cat-tab .active {
  border-bottom: 4px solid;
}
.sort {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort p {
    padding: 16px 0;
    margin-bottom: 0;
}
.sort p span {
    margin: 0 4px;
    border-bottom: 1px dashed; 
}
.sort p .active {
    border-color: transparent; 
}
.offer-view span {
    padding: 5px 8px;
    font-size: 14px;
    cursor: pointer;
}

/*Элементы управления картой))*/
.map-control-left {
    display: flex;
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    width: 60px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.left-elements {
  width: 20%
  min-width: 200px;
  display: flex;
}
.legend {
  display: flex;
  width: 80%;
  margin: auto;
}
.legend progress {
     width: 100%; 
}
.map-control-left span,
.map-control-bottom .map-control-bottom-left span {
    padding: 9.5px;
    background: #fff;
    margin: 10px;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    min-width: 40px;
    min-height: 40px;
    text-align: center;
  }
.sidebar-untoggled #map-filters-close,
.sidebar-toggled #map-filters-open {
  display: none;
}
.sidebar-untoggled #map-filters-open,
.sidebar-toggled #map-filters-close, {
  display: none;
}
.map-control-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    display: flex;
    width: 100%;
}
.map-control-bottom-left {
    width: 50%;
    display: flex;
}
.map-sidebar-right {
  width: 50%; 
}

.map-control-bottom-right {
    width: 50%;
    display: flex;
    margin: 0;
    justify-content: left;
}
.map-layers {
    width: 50%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}
.map-filters {
  display: flex;
    width: 50%;
}
.map-control-bottom-right span {
    border-radius: 50px;
    padding: 9.5px 20px;
    background: #fff;
    margin: 10px;
    color: #000;
    cursor: pointer;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    min-width: 40px;
    min-height: 40px;
    text-align: center;
}
.map-control-bottom-right span i {
  margin-right: 8px;
}

.main-tab {
  display: flex;  
}
.dark-map-nav {
    background: #000000db;
    color: #fff;
}
.dark-map-nav .navbar-right .tablinks {
/*    border-right:0;
    border-left: 0;*/
    border-color: transparent;
}
.dark-map-nav .navbar-right .active {
    background: #464646d1;
}
.dark-map-nav .navbar-brand {
  color: #fff !important;
}
.dark-map-nav #map-search {
    background: #464646;
}
.dark-map-nav #map-search[required]:hover + label:before,.dark-map-nav #map-search[required]:focus + label:before {
  color: #eee;
}







#objects-module {
  padding-top: 0;
}


.nav-menu {
    background-color: #fff;
    border: 0;
    padding: 18px 10px 18px 14px;
    font-size: 12px;
    letter-spacing: 1px;
}
.dark-map-nav .nav-menu {
  background: transparent;
}
.nav-helper {
    display: flex;
    margin: auto 10px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color: #252525;
}
.nav-helper span {
    padding: 3px 6px;
    letter-spacing: 0;
    cursor: pointer;
}
.nav-helper .activelang {
    background: #E0E0E0;
    cursor: default;
    color: #252525 !important;
}
.dark-map-nav .nav-helper span {
  color: #E0E0E0;
}



.nav-profile {
  cursor: pointer;
}
.nav-profile img {
    width: 60px;
    padding: 10px;
    border-radius: 50%;
}


.nav-action {
    display: flex;
    margin: auto 30px;
    overflow: hidden;
    font-size: 12px;
    letter-spacing: 0;
}
.nav-action span {
    padding: 8px 16px;
    border: 1px solid;
    min-width: 86px;
    text-align: center;
    cursor: pointer;
    color: #472283;
    border-color: #472283;
}
.nav-action span:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0;
}
.nav-action span:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
    border-left: 0; 
}
.nav-action .activeaction {
  background-image: linear-gradient(135deg,#183f6f 0,#64108f 100%);
  color: #fff;
  cursor: default;
}
.dark-map-nav .nav-action span {
  background-color: #eee;
}






#calc-module {
    padding: 0;
    margin-top: 60px;
}



/*СПИСОК ОБЪЕКТОВ*/
.pre-objects-container {
  display: flex;
  flex-direction: column;
}
.pre-objects-container2 {
  display: flex;
}
.objects-container {
  display: flex;
  width: 100%;
}
.offers {
  width: 100%;  
    display: flex;
    flex-direction: column;
}
.offers-multi {
  width: 100%;  
    display: flex;
}
.offers-multi .offer {
    margin: 15px 10px; 
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eee;
}
.offers-multi .offer p {
  margin-bottom: 4px;
}
.offers-multi .offer-info {
    padding: 20px;
}
.offers-multi .offer-details {
    background: #eee;
    padding: 20px;
}
.params {
    width: 400px;
    padding: 0 20px;
    border-radius: 4px;
}
.offers .offer {
    height: 202px;
    display: flex;
    /* background-color: red; */
    border: 1px solid #eee;
    margin-right: 15px;
    border-radius: 4px;
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
}
.offers .offer-pic {
    height: 100%;
    width: auto;
    /*border-radius: 4px;*/
    overflow: hidden;
}
.offers .offer-pic img {
  height: 100%;
}
.offers .offer-info {
    width: calc(100% - 440px);
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}
.offers .offer-details {
  width: 240px;
  background-color: #eee;
    display: flex;
    flex-direction: column;
}
.offers .offer-details-container {
  padding: 20px 20px 0 20px;
  height: 100%;
}
.offers .offer-details .offer-price {
    background: #eee;
    color: #000;
    padding: 10px 24px;
}
.offer-details .offer-price h4 {
    margin: 0;
    text-align: right;
    font-weight: bold;
}
.offers .offer-devider {
    border-bottom: 1px solid #cfcfcf;
    margin: 15px 30px 15px 15px;
}
.offer-devider:last-child {
  display: none;
}



/*РАСЧИТАТЬ*/
.calc-single {
  width: 100%;
  margin-right: 10px;
  color: #000;
}
.pre-calc-container {
  display: flex;
  margin-top: 20px;
}
#calc h5 {
  color: #000;
}
.calc-single h2 {
  margin-top: 0;
}
#offer-gparhics {
    display: block;
    width: 100%;
}




















.layers-untoggled .layers {
  display: none;
}
.layers {
    position: fixed;
    top: 0;
    margin-top: 60px;
    left: 50%;
    bottom: 0;
    background: #fff;
    display: flex;
    color: #000;
    z-index: 10;
}
.layers-container {
    color: #000;
    width: 25vw;
    padding: 20px;
    font-family: "Roboto Condensed", sans-serif;
}
.layers-container h2 {
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.layers-container .layer {
    min-height: 200px;
    width: 49%;
    display: inline-block;
    padding: 6px;
}
.layers-container .layer button {
background: #000;
    color: #fff;
    border: 0;
    padding: 8px 34px;
    border-radius: 4px;
}



/*ВЕЛКОМ ВКЛАДКА*/
#welcome {
    display: block;
    background-color: #fff;
    padding-top: 60px;
    color: #000;
}
#welcome-module {
  padding-top: 50px;
}
.welcome-container {
  display: flex;
    margin-top: 20px;  
}
.welcome-thumbs {
    width: 100%;
    margin-left: 10px; 
}
.collapse-cats  ul  {
  padding-left: 20px;
}
.collapse-cats  ul li {
    font-size: 12px;
    padding: 10px 0;
    border: 0;
    list-style: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.welcome-container .params > ul .cats-list-li {
    font-size: 15px;
    padding: 10px 0;
    list-style: none;  
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}
.welcome-container .params > ul .cats-list-li i {
  float: right;
}
.welcome-container .params > ul {
  padding: 0;
}
.welcome-container .params h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.type-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
}
.type-grid > div {
  width: calc(33.3333333% - 7px);
  margin: 10px 0;
  background-color: #eee;
}
.type-grid > div:nth-child(3n + 2) {
  margin: 10px;
}
.type-grid > div > .type-grid-title {
  padding: 20px;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}
.type-grid-thumb {
    height: 200px;
    overflow: hidden;
}





/*ОТДЕЛЬНЫЕ ВКЛАДКИ*/
#object-single {
    display: none;
    background-color: #fff;
    padding-top: 60px;
    color: #000;  
}
#osingle-module {
  padding-top: 0;
}
.osingle-container {
  width: 850px
}
.osingle-header h1 {
    padding: 5px 40px;
    font-family: "Roboto Condensed", sans-serif;
}
.osingle-info {
    padding: 20px 40px;
    font-size: 14px;  
}

.osingle-details h3 {
    font-family: "Roboto Condensed", sans-serif;
}
.tablinks-obj {
    margin: 0;
    font-size: 12px;
    background: transparent;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 1px;
}
.tabcontent-obj {
  margin-top: 60px;
}
.osingle-container #op {
  display: block;
}
.osingle-container .active {
    border-bottom: 4px solid #000 !important;
}
.tablinks-obj:hover {
  background-color: #fff;
  border-bottom: 4px solid #fff;
}
.cat-tab-fixed .osingle-container {
  text-align: center;
}
